{% extends "base.html.twig" %}

{% block body %}
	<h1>Hello you!</h1>
	<p>Your email:
		{{ app.user.email }}</p>
	<p>Your comments:</p>
	{% for comment in app.user.comments %}
		<ul>
			<li>{{comment.comment}}</li>
		</ul>
	{% endfor %}
{% endblock %}
