{% extends "base.html.twig" %}

{% block body %}
	{{ form_start(form) }}
	{# 'form' es lo pasado por render #}
	{{ form_widget(form) }}
	<button type="submit">Ajouter une série</button>
	{{ form_end(form) }}
{% endblock %}
