@import "~bootswatch/dist/minty/variables";
@import "~bootstrap/scss/bootstrap";
@import "~bootswatch/dist/minty/bootswatch";

// primary et secondary colors - Boostrap
$nav-color: #006857;
$primary-color: #000000;
$secondary-color: #FFCB00;
$tertiary-color: #ffffff;
$background-color: #EDEDED;

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: $background-color;
    color: $primary-color;
}

nav {
    background-color: $nav-color;
}

nav div.container-fluid div.navbar-header img.img_icon {
    width: 6.5%;
}

nav div.container-fluid div.navbar-header a.navbar-brand {
    color: $secondary-color;
    margin-left: .5em;
}