<nav class="navbar navbar-default">
	<div class="container-fluid">
		<div class="navbar-header">
			<a class='icon-link' href="/"><img class="img_icon fa-border" src="{{ asset('build/images/w.png') }}" alt="icon"/></a>
			<a class="navbar-brand" href="/">WILD Series</a>
		</div>
		<ul class="nav navbar-nav">
			<li class="active">
				<a href="/">Home</a>
			</li>
		</ul>

		{# navbar avec d´connexion user#}
		{% if app.user %}
			{{ app.user.email }}
			<a href="{{ path('app_logout') }}">
				Se déconnecter</a>
		{% else %}
			<a href="{{ path('app_login') }}">
				Se connecter</a>
		{% endif %}
	</div>
</nav>
