{% extends 'base.html.twig' %}

{% block title %}Wild Series
{% endblock %}

{% block body %}
	<div class="p-5" style="font-size: 1.3em;">
		<h1 {{ stimulus_controller('symfony/ux-typed', { strings: [ 'Bienvenue sur Wild Series', 'Le meilleur site pour suivre tes séries préférées', 'Découvre les dernières actus sur les séries du moment', ], loop: true, showCursor: true, cursorChar: '✨', } ) }}></h1>
	</div>
{% endblock %}
